body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

#content{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}



#firsrpar{
    font-size: 18px;
    

}

#secondpar{
    font-size: 29px;  
}

#flying{
    height:300px;
    width: auto;
}