#ind2, #ded2{
    display:flex;
    justify-content: center;
    align-items: center;
    height:auto;
    width:90px;
    background-color:#F8DD67;
    padding: 10px;
    box-shadow: 1px 1px 5px grey;
    text-align: center;
    margin: 10px;
}

#buttonscontainer {
    display:flex;
    justify-content: center;
    align-items: center;
}