#button1, #button2 {
    display:none;
    justify-content: center;
    align-items: center;
    height:5%;
    width:5%;
    background-color:#F8DD67;
    padding: 10px;
    box-shadow: 1px 1px 5px grey;
    text-align: center;
    margin: 10px;
}

#buttonscontainer {
    display:none;
    justify-content: center;
    align-items: center;
}