#ind1, #ded1{
    display:none;
    justify-content: center;
    align-items: center;
    height:auto;
    width:20%;
    background-color:#F8DD67;
    padding: 10px;
    box-shadow: 1px 1px 5px grey;

}


#button1 {
    width: 100%;
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

