/* body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
} */

#content{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* #text{
    font-size: 18px;
}

#question{
    font-size: 29px;  
} */

#flying{
    height:300px;
    width: auto;
}

#buttons {
    height: 100px;
    width: 100%;
    background-color: blue;
}