/* body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
} */

#contentQuiz{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* #text{
    font-size: 18px;
}

#question{
    font-size: 29px;  
} */

#quizimg{
    height:300px;
    width: auto;
}

#question {
    text-align: center;
}

#buttons {
    height: 100px;
    width: 100%;
    background-color: blue;
}

#topbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rightwrong{
    display: none;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100px;
    background-color: #50C878;

}

#rightwrong h1 {
    color: white;
}